

.top_menu {
     display: flex;
     justify-content: center;
     margin: 25px 330px 25px 330px;


}

.top_menu_item li {
     display: inline-block;
     height: 27px;
     width: 140px;
     left: 480px;
     top: -6px;
     border-radius: nullpx;
}

.top_menu_item li a {
     color: red;
     text-decoration: none;
     font-family: Montserrat;
     font-size: 18px;
     font-weight: 700;
     line-height: 18px;
     letter-spacing: 2.700000047683716px;
     text-align: left;
}

.header_img {
     max-height: 789px;
     min-width: 1280px;
     left: 0px;
     top: 78px;
     border-radius: 0px;

}

.title {
     font-family: Montserrat;
     font-size: 22px;
     font-weight: 700;
     line-height: 27px;
     letter-spacing: 3.299999952316284px;
     text-align: left;
     display: flex;
     justify-content: center;
     padding: 48px 253px 38px 253px;

}

.text {
     font-family: Montserrat;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 2.4000000953674316px;
     text-align: center;
     height: 132px;
     width: 1145px;
     left: 67.5px;
     top: 115px;
     border-radius: nullpx;
     display: block;
     justify-content: center;
     padding: 38px 67.5px 28px 67.5px;

}

.text_p2 {
     font-family: Montserrat;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 2.4000000953674316px;
     text-align: center;
     height: 216px;
     width: 1145px;
     left: 67.5px;
     top: 275px;
     border-radius: nullpx;
     display: block;
     justify-content: center;
     padding: 28px 67.5px 66px 67.5px;


}

.like_button {
     background-color: #FF0000;
     color: white;
     font-family: Montserrat;
     font-size: 12px;
     font-weight: 700;
     line-height: 12px;
     letter-spacing: 1.7999999523162842px;
     text-decoration: none;
     display: inline-block;
     padding: 18px 43.5px 17px 42.5px;
     text-align: center;
     margin: 66px 544.5px 42px 544.5px;





}

.copyright_text {
     height: 39px;
     width: 462px;
     left: 608px;
     top: 0px;
     border-radius: nullpx;
     font-family: Montserrat;
     font-size: 16px;
     font-weight: 700;
     line-height: 20px;
     letter-spacing: 2.4000000953674316px;
     text-align: right;
     margin: 40px 105px 29px 713px;

}